
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    width: 100%;
    background: url(pics/background.PNG);
    background-position: center;
    background-size: cover;
    height: 120%;
    position: relative;
    font-family: sans-serif;
}

.navigationbar{
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: block;
    
}

.navigationbar .logo{
    width: 300px;
    cursor: pointer;
    margin-top: +2%;
    margin-right: -2%;
    margin-left: -1%;
}