*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(pics/background.PNG);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
    
    
}

.navigationbar{
    width: 90%;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    display: block;
    
}

.navigationbar .logo{
    width: 300px;
    cursor: pointer;
    margin-top: +2%;
    margin-right: -2%;
    margin-left: -1%;
}

.Information{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 4%;
    margin-top: 2%;
    
}
.Information h1{
    font-size: 65px;
    color: #2b2727;
}

.Information h3{
    font-size: 18;
    letter-spacing: 1px;
    line-height: 24px;
}
.Information span{
    color: green;
}
.Information a{
    text-decoration: none;
    background: grey;
    font-size: 30px;
    border-radius: 10px;
    display: inline-block;
    color: rgb(130, 208, 130)
}

.Information a:hover{
    background: white;

}

.image{
    width: 30%;
    height: 30%;
    position: absolute;
    right: 100px;
    bottom: 0;   
}

.image img
{
    position: absolute;
    height: 120%;
    left: 10%;
    bottom: 0;

}

.Social a{
    text-decoration: none;
    color: green;
}

.Social li{
    margin-left: 7%;
    margin-right: -60px;
    color: black;
    font-size: 30px;
}

.Social a:hover{
    color:rgb(85, 220, 85)
}