.Information{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 4%;
    margin-top: 2%;
    
}
.Information h1{
    font-size: 65px;
    color: #2b2727;
}

.Information h3{
    font-size: 18;
    letter-spacing: 1px;
    line-height: 24px;
}
.Information span{
    color: green;
}
.Information a{
    text-decoration: none;
    background: grey;
    font-size: 30px;
    border-radius: 10px;
    display: inline-block;
    color: rgb(130, 208, 130)
}

.Information a:hover{
    background: white;

}